
/*************************************
			HEADING
**************************************/
body {margin-bottom: -50px;
	font-family: 'Open Sans', sans-serif;
	color: #585858;
	background-image: url(../img/background2.png);
	min-height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(38,38,37,0) 33%, rgba(109,108,107,0.93) 95%, rgba(109,108,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(33%,rgba(38,38,37,0)), color-stop(95%,rgba(109,108,107,0.93)), color-stop(100%,rgba(109,108,107,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(38,38,37,0) 33%,rgba(109,108,107,0.93) 95%,rgba(109,108,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(38,38,37,0) 33%,rgba(109,108,107,0.93) 95%,rgba(109,108,107,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(38,38,37,0) 33%,rgba(109,108,107,0.93) 95%,rgba(109,108,107,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(38,38,37,0) 33%,rgba(109,108,107,0.93) 95%,rgba(109,108,107,1) 100%); /* W3C */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(59%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))), url(../img/background2.png) ;
}

p {
	text-shadow:0px 1px 1px  #eee;
	line-height: 200%;
}

/*Next lines is for sticky footer
*/
html {
    position: relative;
    min-height: 100%;

}


#gradient {
	min-height: 100%;
	z-index: 10000;
}

#wrapper{
	max-width:940px;
	padding: 0 5%;
	padding-bottom:60px;
	padding-top: 100px;
	margin: 0 auto;
}

a{text-decoration: none;
  color:#fff;
	
}

 img {
 	max-width: 100%;
 }
/*************************************
			HEADING
**************************************/
#logo{
	text-align: center;
	margin:0;
	margin-top:12px;

}



.header {
	margin-top: 40px;
	position: absolute;
	margin:0;
	height:55px;
	width:100%;
	z-index: 100;
	border-bottom:5px solid #555;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	background-color: rgba(255,255,255,0.2);
}

h1, h2 {
	color:#555;
}

h1 { 
	font-family: 'Changa One', sans-serif;
	margin: 5px 0 15px 0;
	font-size:1.25em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

h3 {
	margin:0 0 1em  0;
}


/*************************************
			NAVIGATION
**************************************/
nav {
	text-align: center;
	padding:10px 0;
	margin:11px 0 0;
	background:#599a68;
}

nav ul {
	list-style:none;
	margin: 0 10px;
	padding: 0;
}
nav li {
	display: inline-block;
	font-weight: 800;
	padding:5px 15px;
	cursor: pointer;
	-webkit-transition: all 0.5s
}

nav li:hover {
	background-color: #fff;
}

nav li.active {
	border-bottom: 5px solid #fff;
}


/*************************************
			FOOTER
**************************************/

.footer {
	clear: both;
	font-size:0.75em;
	text-align: center;
	padding-top:50px;
	color:#ccc;
	position:absolute;
	 margin-left: 7%;
	min-width: 90%;
   bottom:0;
}

.footer p {
	text-shadow:none;
}

.social-icon {
	width:20px;
	height:20px;
	margin:0 5px;
}

/*************************************
			PAGE PORTFOLIO
**************************************/

#gallery {
	margin:0;
	padding: 0;
	list-style: none;
}

#gallery li {
	overflow: hidden;
	position: relative;
	float: left;
	width: 42%;
	max-height: 179px;
	margin:2.5%;
	background-color: #fff;
	color:#fff;
	padding: 1%;
	box-shadow:10px 10px 0px #555;
	border-radius:3px;
}
#gallery li a img {
	border-radius:3px;
}

#gallery li:last-child {
    margin-bottom:120px;
}

/*************************************
			ABOUT
**************************************/

.profile-photo {
	display: block;
	max-width: 150px;
	margin:0 auto 30px;
	border-radius:100%;
}

/*************************************
			CONTACT
**************************************/

.contact-info {
	list-style:none;
	padding:0;
	margin:0;
	font-size:0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin:0 0 10px;
}

.contact-info li.phone a{
background-image:url('../img/phone.png');
}

.contact-info li.mail a{
background-image:url('../img/mail.png');
}


.contact-info li.twitter a{
background-image:url('../img/twitter.png');
}
